
.site-layout-content{
    .bg-image{
        background: linear-gradient(rgba(62, 56, 56, 0.9), rgba(123, 8, 8, 0.5)) , url("https://plus.unsplash.com/premium_photo-1661678414417-0e715231647e?q=80&w=3542&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), linear-gradient(to top, #fff000 0%, #000fff 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 83vh;
    }
    p{
        // position: relative;
        // top: -30px;
    }

}