
.site-layout-content{
    .bg-image{
        background: linear-gradient(rgba(62, 56, 56, 0.9), rgba(123, 8, 8, 0.5)) , url("https://images.unsplash.com/photo-1476703993599-0035a21b17a9?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), linear-gradient(to top, #fff000 0%, #000fff 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 83vh;
    }
    p{
        // position: relative;
        // top: -30px;
    }

}